
.about-slider [data-slot="slider-track"] {
    background-color: #EDECEC !important;
    height: 10px;        
    border-radius: 9999px;   
    overflow: visible; 
  }
  
.about-slider [data-slot="slider-range"] {
    background-color: #fd6f00 !important;
    height: 10px;
    border-radius: 9999px;
  }
  
.about-slider [data-slot="slider-thumb"] {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #fd6f00;
    border-radius: 9999px;
    box-shadow: none;
}